body {
  text-align: center;;
  background: url(http://previews.123rf.com/images/Suljo/Suljo0903/suljo090300013/4567751-Vector-illustration-of-seamless-math-background-Stock-Vector-algebra.jpg);
}

section {
  background-color: white;
}

h3 {
  margin-bottom: 20px;
}

span {
  padding-right: 20px;
}

#start {
  margin: 20px 0 20px 0;
}

#next {
  margin-bottom: 20px 0 20px 0;
}

#quiz {
  display: none;
}
